@charset "UTF-8";

body {
    background-color: #0C79B8;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

a img {
    display: block;
    margin: 0 auto;
}

#topo {
    background-color: #D24625;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: center;
}
